#hero {
  width: 100%;
  padding-top: 3.5rem;
  position: relative;

  & nav {
    width: 70rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & header {
    margin-top: 10.25rem;

    & h1 {
      opacity: 0;
      animation: appear-gradient 1.6s 1ms ease-in-out both;
    }

    & p {
      margin-top: 2rem;
      font: var(--body-lg);
      opacity: 0;
      animation: appear 800ms 801ms ease-in-out both;
    }
  }

  & #about {
    width: 75rem;
    height: 25rem;
    margin: 35.375rem auto 0;
    font: var(--subtitle);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    & p {
      position: relative;

      & span {
        opacity: 0.5;
        transition: opacity 400ms;

        & strong {
          font-weight: 700;
          transition: all 800ms 800ms;
        }
      }

      & img {
        position: absolute;
        opacity: 0;
        transition: opacity 400ms;
      }

      & img:nth-child(4) {
        width: 5rem;
        height: 5rem;
        transform: rotate(20.76deg);
        top: -6.60875rem;
        left: 32rem;

        &:hover {
          width: 5.5rem;
          height: 5.5rem;
          transform: rotate(31.33deg);
        }
      }

      & img:nth-child(5) {
        width: 4.545625rem;
        height: 4.545625rem;
        transform: rotate(99.47deg);
        bottom: -5.3775rem;
        left: 0.1225rem;

        &:hover {
          width: 5rem;
          height: 5rem;
          transform: rotate(110.04deg);
        }
      }

      & img:nth-child(6) {
        width: 4.090625rem;
        height: 4.090625rem;
        transform: rotate(-14.48deg);
        bottom: -5.11625rem;
        right: -2.11625rem;

        &:hover {
          width: 4.5rem;
          height: 4.5rem;
          transform: rotate(3.91deg);
        }
      }
    }

    &:hover {
      & p {
        & span,
        & img {
          opacity: 1;
          transition: opacity 800ms;

          & strong {
            opacity: 1;
            color: var(--blue-light);
            transition: all 800ms;
          }
        }

        & span:nth-child(2),
        & img:nth-child(5) {
          transition-delay: 800ms;

          & strong {
            transition-delay: 800ms;
          }
        }

        & span:nth-child(3),
        & img:nth-child(6) {
          transition-delay: 1.6s;

          & strong {
            transition-delay: 1.6s;
          }
        }
      }
    }
  }

  & #hero-background {
    position: absolute;
    width: 100%;
    height: 59.25rem;
    inset: 0;
    z-index: -1;
    background: url("../assets/hero/hero-background.png") no-repeat center
      center;
    background-size: cover;
    opacity: 0;
    animation: appear-gradient 1.6s 1ms ease-in-out both;
  }
}

@keyframes appear-gradient {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
