#hero {
  width: 100%;
  padding-top: 3.5rem;
  position: relative;

  & nav {
    width: 70rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & header {
    margin-top: 10.25rem;

    & h1 {
      opacity: 0;
      animation: appear-gradient 1.6s 1ms ease-in-out both;
    }

    & p {
      margin-top: 2rem;
      font: var(--body-lg);
      opacity: 0;
      animation: appear 800ms 801ms ease-in-out both;
    }
  }

  & #about {
    width: 75rem;
    margin: 35.375rem auto 0;
    font: var(--subtitle);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    & strong {
      color: var(--blue-light);
      font-weight: 700;
    }

    & img:nth-child(1) {
      width: 5rem;
      height: 5rem;
      transform: rotate(20.76deg);
    }

    & > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    & > div img:nth-child(1) {
      width: 4.545625rem;
      height: 4.545625rem;
      transform: rotate(99.47deg);
      margin-left: 2.7rem;
    }

    & > div img:nth-child(2) {
      width: 4.090625rem;
      height: 4.090625rem;
      transform: rotate(-14.48deg);
    }
  }

  & #hero-background {
    position: absolute;
    width: 100%;
    height: 59.25rem;
    inset: 0;
    z-index: -1;
    background: url("../assets/hero/hero-background.png") no-repeat center center;
    background-size: cover;
    opacity: 0;
    animation: appear-gradient 1.6s 1ms ease-in-out both;
  }
}

@keyframes appear-gradient {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
