#signature {
  background: url("../assets/signature/signature-background.png") no-repeat
    center center;
  background-size: cover;
  height: 77.125rem;
  position: relative;

  & h2 {
    margin-top: 12.125rem;
    margin-bottom: 3.5rem;
  }

  & #pricing {
    width: 65.625rem;
    height: 37.875rem;
    margin-inline: auto;
    text-align: left;
    padding-top: 5.130625rem;
    position: relative;
    display: flex;
    justify-content: center;

    .card-container {
      position: absolute;
      top: 5.625rem;
      transition: all 800ms ease;

      & .card {
        background-color: var(--shape-base);
        width: 18rem;
        height: 26rem;
        padding: 2rem 2rem 1.75rem;
        border: 1px solid var(--shape-stroke);
        border-radius: 1.75rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 800ms ease;

        & header {
          & h3 {
            color: var(--blue-light);
          }

          & strong {
            display: block;
            margin: 1.5rem 0 0.5rem;
            font: var(--title-md);

            & span {
              font: var(--title-xs);
            }
          }

          & p {
            font: var(--body-sm);
            color: var(--text-label);
          }
        }

        & .details {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;

          & img {
            width: 0.87875rem;
            filter: drop-shadow(0 0 0.75rem #8f3b9e80);
          }

          & p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font: var(--body-xs);
          }
        }

        & img[src*="bunny"] {
          position: absolute;
          top: -3.120625rem;
          left: 2rem;
        }

        & img + span {
          position: absolute;
          background-color: var(--shape-stroke);
          font: var(--tag);
          letter-spacing: 0.05em;
          padding: 0.5625rem 1.25rem;
          border-radius: 999px;
          top: 1.494375rem;
          right: 1.526875rem;
        }

        & button {
          width: 100%;
          margin-top: 1.5rem;

          &:hover::before {
            scale: 14;
          }
        }

        & #star-1 {
          width: 1.625rem;
          top: -1.1875rem;
          left: calc(-1.6725rem + -1.625rem);
        }

        & #star-2 {
          width: 0.81625rem;
          top: 1.22125rem;
          left: calc(-2.62125rem + -0.81625rem);
        }

        & #star-3 {
          width: 1.45125rem;
          bottom: calc(-0.5rem + -1.45125rem);
          right: calc(-1.021875rem + -1.45125rem);
        }

        & #star-4 {
          width: 0.703125rem;
          bottom: calc(-1.290625rem + -0.703125rem);
          right: 0.296875rem;
        }

        &:hover {
          transform: translateY(-0.5rem);
          background-color: var(--shape-hover);
          border: 1px solid transparent;
          box-shadow: 0px 0px 60px #358bb91a;
        }
      }

      &:nth-child(2) .card h3 {
        color: var(--pink-light);
      }

      &:not(:nth-child(2)) .card button {
        background-color: var(--blue-dark);

        &::before {
          background-color: var(--blue-mid);
        }

        &:hover::before {
          background-color: var(--blue-mid);
        }
      }

      &:nth-child(1) img:not(img[src*="blue"]),
      &:nth-child(3) img:not(img[src*="blue"]) {
        position: absolute;
      }

      &:hover {
        z-index: 3;
      }
    }

    & .card-container:nth-child(2) {
      z-index: 2;

      & .card {
        background-color: var(--shape-hover);
        border: 1px solid transparent;
      }
    }
  }

  &:hover {
    & #pricing {
      & .card-container:nth-child(1) {
        transform: translate(calc(-18rem + -1px), 3.5rem) rotate(-8deg);
      }

      & .card-container:nth-child(3) {
        transform: translate(calc(18rem + 1px), 3.5rem) rotate(8deg);
      }
    }
  }
}
