#surprise {
  padding: 14.6874rem 0 0;
  height: 99.125rem;

  & header {
    & h2 {
      padding-bottom: 0.3125rem;
      width: fit-content;
      margin: auto;
      display: flex;
      align-items: center;
      gap: 1rem;

      & img {
        width: 2rem;
        height: 2rem;
        filter: drop-shadow(0 0 0.75rem #8f3b9e80);
      }
    }
  }

  & #book {
    margin-top: 5.5rem;
    position: relative;
    width: 100%;
    height: 100%;

    & img,
    span {
      position: absolute;
      transition: all 800ms;
    }

    & img[src*="bookcastle"] {
      width: 29.1875rem;
      top: 8.375rem;
      right: 51%;
      transform: translateX(50%);
      z-index: 1;
    }

    & img[src*="bookmark"] {
      height: 33.5rem;
      top: 10rem;
      right: 30rem;
    }

    & img[src*="pin"] {
      width: 15.875rem;
      top: 28rem;
      right: 40rem;
    }

    & img[src*="arrow-1"] {
      top: 18rem;
      right: 38rem;
    }

    & img[src*="arrow-2"] {
      top: 28rem;
      right: 46rem;
    }

    & img[src*="arrow-3"] {
      top: 30rem;
      right: 33rem;
    }

    & span {
      color: var(--text-title);
    }

    & span:nth-child(8) {
      top: 15.5rem;
      right: 45rem;
    }

    & span:nth-child(9) {
      top: 25.5rem;
      right: 45.7rem;
    }

    & span:nth-child(10) {
      top: 40rem;
      right: 36.7rem;
    }

    &:hover {
      & img[src*="purple"] {
        transform: translate(16.5rem, 0.9475rem) rotate(22deg);
      }

      & img[src*="yellow"] {
        transform: translate(9.5rem, -6rem) rotate(12deg);
      }

      & img[src*="pin"] {
        transform: translate(-12rem, 7rem) rotate(-8deg);
      }

      & img[src*="arrow-1"] {
        transform: translate(-17rem, -11rem) rotate(-0deg);
      }

      & img[src*="arrow-2"] {
        transform: translate(-17.5rem, 2rem);
      }

      & img[src*="arrow-3"] {
        transform: translate(15.2rem, 12.5rem);
      }

      & span {
        color: var(--text-title);
      }

      & span:nth-child(8) {
        transform: translate(-17rem, -11rem) rotate(-0deg);
      }

      & span:nth-child(9) {
        transform: translate(-17.5rem, 2rem);
      }

      & span:nth-child(10) {
        transform: translate(15.2rem, 13rem);
      }
    }
  }
}
