* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;
  --gradient-border: linear-gradient(
    to right,
    #77c0af 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );
  --gradient-background: linear-gradient(to right, #d586e0 0%, #91a1fa 98.93%);
  --gradient-content: linear-gradient(to right, #c7c9cc 0%, #9b9c9e 100%);

  --font-family-sora: "Sora", sans-serif;
  --font-family-roboto-mono: "Roboto Mono", sans-serif;
  --font-family-roboto-flex: "Roboto Flex", sans-serif;
  --display-large: 800 72px/130% var(--font-family-sora);
  --display-medium: 800 40px/130% var(--font-family-sora);
  --display-small: 700 32px/130% var(--font-family-sora);
  --overline: 700 16px/150% var(--font-family-roboto-mono);
  --paragraph-large: 500 16px/150% var(--font-family-roboto-flex);
  --paragraph-medium: 500 14px/150% var(--font-family-roboto-flex);
  --paragraph-small: 500 12px/150% var(--font-family-roboto-flex);
  --label-medium: 700 20px/150% var(--font-family-roboto-flex);
  --label-small: 700 16px/150% var(--font-family-roboto-flex);
}

body {
  background-color: var(--background-primary);
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  font: var(--paragraph-small);
  color: var(--content-secondary);
  overflow: hidden;
}

h1 {
  color: var(--content-primary);
  font: var(--display-large);
  margin-block: 0.75rem 2.375rem;
}

h2 {
  color: var(--content-primary);
  font: var(--label-medium);
}

h3 {
  color: var(--content-brand);
  font: var(--paragraph-medium);
}

#logo {
  width: 100%;
  height: 2.4rem;
  max-width: 68.625rem;
  margin: 4.75rem auto 5.5625rem;
  transform: translateX(-0.875rem);
}

main {
  width: 100%;
  max-width: 68.625rem;
  margin-inline: auto;
  display: flex;
}

section {
  min-width: 35.75rem;

  & span {
    color: var(--content-brand);
    font: var(--overline);
    background: var(--gradient-content);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  & #topics {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;

    & .topic {
      display: flex;
      align-items: start;
      gap: 0.5rem;

      & p {
        font: var(--paragraph-small);
        color: var(--content-secondary);
      }
    }
  }
}

form {
  margin-block: auto;

  & p {
    color: var(--content-secondary);
    font: var(--paragraph-large);
    margin-block: 0.125rem 2.5rem;
  }

  & fieldset {
    border: none;
    display: flex;
    gap: 0.75rem;

    & .input-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      & label {
        font: var(--label-small);
      }

      & input {
        width: 5.375rem;
        background-color: var(--background-secondary);
        color: var(--content-primary);
        outline: none;
        border: none;
        border-radius: 0.5rem;
        font: var(--display-small);
        padding: 0.25rem 0.5rem;
        text-align: center;
      }
    }
  }

  & .checkbox-wrapper {
    margin-block: 1.25rem 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & #runner {
      width: 1.875rem;
      height: 1.25rem;
      background-color: var(--content-tertiary);
      border-radius: 1rem;
      padding: 0.1875rem;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & #ball {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: var(--content-primary);
        transition: transform 0.6s ease;
      }

      & input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      &:has(input:checked) {
        background: var(--gradient-background);

        #ball {
          transform: translateX(0.75rem);
        }
      }
    }

    & label {
      color: var(--content-primary);
      font: var(--paragraph-small);
    }
  }

  button {
    background-color: var(--background-tertiary);
    width: 100%;
    border: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    color: var(--content-primary);
    font: var(--label-small);
    cursor: pointer;
  }
}
