@import url(fields/index.css);

form {
  width: 40.25rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
}

fieldset {
  border: none;

  .title-wrapper {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 0.5rem;

    legend {
      font: var(--heading-sm);
    }
  }

  label {
    font: 700 14px var(--font-family-opensans);
    color: var(--text-body);
    display: inline-block;
    margin: 1rem 0 0.75rem;
  }
}

fieldset.customization .selection-wrapper {
  all: unset;

  label {
    margin: 1rem 0;
  }

  .colors {
    width: 40.25rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
  }

  .styles {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
