* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  --danger: #ff5959;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  --font-family-leckerlione: "Leckerli One", serif;
  --font-family-baloo2: "Baloo 2", sans-serif;
  --font-family-opensans: "Open Sans", sans-serif;

  --logo: 400 40px var(--font-family-leckerlione);

  --heading-md: 700 28px var(--font-family-baloo2);
  --heading-sm: 700 18px var(--font-family-baloo2);

  --body-md: 400 16px var(--font-family-opensans);
  --body-sm: 400 14px var(--font-family-opensans);
  --body-xs: 400 12px var(--font-family-opensans);
}

body {
  height: 100vh;
  background-color: var(--shape-background);
  font: var(--body-md);
  color: var(--text-heading);
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 1.25rem;
  padding: 1.25rem;
  overflow: hidden;
}

h2 {
  font: var(--heading-md);
  width: 40.25rem;
  margin: 0 auto 2.5rem;
}

::-webkit-scrollbar {
  display: none;
}

hr {
  border: 1px solid var(--input-stroke);
  margin: 3rem 0 2.5rem;
}

.input-set {
  all: unset;
  position: absolute;
  inset: 0;
  opacity: 0;
}
