.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.gap-16 {
  gap: 1rem;
}

.brand {
  background-color: var(--brand-light);
}

.navy {
  background-color: var(--navy);
}

.purple {
  background-color: var(--purple);
}

.fuschia {
  background-color: var(--fuschia);
}

.pink {
  background-color: var(--pink);
}

.danger {
  background-color: var(--danger);
}

.orange {
  background-color: var(--orange);
}

.yellow {
  background-color: var(--yellow);
}

.lime {
  background-color: var(--lime);
}

.green {
  background-color: var(--green);
}

.cyan {
  background-color: var(--cyan);
}
