.modal-overlay {
  width: 100%;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 0 1.25rem;
}

.modal-overlay.active {
  visibility: visible;
}

form {
  background-color: var(--background-tertiary);
  width: 29.8125rem;
  padding: 2.5rem;
  border-radius: 0.75rem;

  & fieldset {
    margin-block: 1.75rem;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & label {
      font: var(--label-medium);
      color: var(--content-primary);
    }

    & .double-input {
      display: flex;
      gap: 1rem;

      & .input-wrapper {
        width: 11.90625rem;
      }
    }
  }

  & button {
    display: block;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .modal-overlay {
    overflow-y: scroll;

    & form {
      max-width: 21.875rem;
      margin-top: 4.75rem;
      padding: 2.5rem 1.25rem;

      & .input-wrapper,
      & .textarea-wrapper {
        max-width: 19.375rem;
      }

      & .double-input {
        flex-direction: column;

        & .input-wrapper {
          width: 19.375rem;
        }
      }
    }
  }
}
