body > img {
  background-color: var(--background-logo);
  padding: 0.75rem 1.25rem;
  border-radius: 0 0 0.75rem 0;
  position: absolute;
  inset: 0;
  z-index: 2;
}

main {
  max-width: 44.4375rem;
  margin: 3.875rem auto;

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .title {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  & section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & .schedule {
      background-color: var(--background-tertiary);
      display: flex;
      flex-direction: column;
      border-radius: 0.625rem;

      & .head {
        padding: 0.75rem 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--background-logo);

        & .period {
          font: var(--label-large);
          color: var(--content-primary);
          display: flex;
          align-items: center;
          gap: 0.75rem;
        }

        & span {
          font: var(--label-large);
        }
      }

      & ul {
        padding: 1.25rem;
        font: var(--paragraph-small);

        & li {
          width: 100%;
          padding: 1rem 0.75rem;
          display: flex;
          gap: 1rem;

          p {
            font: var(--label-small);
            color: var(--content-primary);
          }

          span {
            font: var(--paragraph-small);
            color: var(--content-secondary);
          }

          & strong:nth-child(1) {
            min-width: 2.8125rem;
          }

          & p:nth-child(2) {
            min-width: 12.1875rem;
          }

          & span:nth-child(3) {
            min-width: 13.71875rem;
          }

          & span:last-child {
            cursor: pointer;
          }
        }

        & li + li {
          border-top: 1px solid var(--background-logo);
        }
      }
    }
  }

  button {
    position: fixed;
    bottom: 2.0625rem;
    right: 1.875rem;
  }
}
