body > img {
  background-color: var(--background-logo);
  padding: 0.75rem 1.25rem;
  border-radius: 0 0 0.75rem 0;
  position: absolute;
  inset: 0;
  z-index: 2;
}

main {
  max-width: 44.4375rem;
  margin: 3.875rem auto;

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .title {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  & section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & .schedule {
      background-color: var(--background-tertiary);
      display: flex;
      flex-direction: column;
      border-radius: 0.625rem;

      & .head {
        padding: 0.75rem 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--background-logo);

        & .period {
          font: var(--label-large);
          color: var(--content-primary);
          display: flex;
          align-items: center;
          gap: 0.75rem;
        }

        & span {
          font: var(--label-large);
        }
      }

      & ul {
        padding: 1.25rem;
        font: var(--paragraph-small);

        & li {
          width: 100%;
          padding: 1rem 0.75rem;
          display: flex;

          & .identification {
            width: 17.75rem;
            display: flex;
            gap: 1rem;
          }

          & p {
            font: var(--label-small);
            color: var(--content-primary);
          }

          & span {
            font: var(--paragraph-small);
            color: var(--content-secondary);
          }

          & span + span {
            cursor: pointer;
            flex: 1;
            text-align: end;

            &:hover {
              text-decoration: underline;
              color: var(--content-primary);
            }
          }
        }

        & li + li {
          border-top: 1px solid var(--background-logo);
        }
      }
    }
  }

  & footer {
    width: 100%;
    background-color: transparent;
    height: 5.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;

    & button {
      margin: auto 1.875rem 2.0625rem auto;
    }
  }
}

@media (max-width: 768px) {
  main {
    margin: 4.3125rem auto;

    & header {
      max-width: 21rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }

    & section {
      margin-bottom: 8.75rem;

      & li {
        flex-direction: column;

        & p:nth-child(2) {
          margin-left: -0.25rem;
        }

        & span + span {
          margin-top: 0.5rem;
        }
      }
    }

    & footer {
      background-color: var(--background-tertiary);

      & button {
        margin: auto;
      }
    }
  }
}
