@import "tailwindcss";

@theme {
  --default-font-family: "Lato", serif;

  --color-gray-50: #f9fafa;
  --color-gray-100: #e3e5e8;
  --color-gray-200: #535964;
  --color-gray-300: #1e2024;
  --color-gray-400: #858b99;
  --color-gray-500: #151619;

  --color-blue-100: #5165e1;
  --color-blue-200: #2e3da3;
  --color-blue-300: #355ec5;

  --color-red-100: #cc3d6a;

  --color-green-100: #508b26;

  --text-xxs: 0.625rem;
  --text-md: 1rem;
}
